/* 
    **********************************************
    ** create : By Ahmed Ali Klay 
    ** Phone  : 01126 35 0859 => not work
    ** Email  : aa9141179@gmail.com
    ** second Email : ahmed.ali.klay.dev@gmail.com
    **********************************************
    created with => html / css/ jQuery / Bootstrap
    **********************************************
*/
/* Default Tol */
*{
    box-sizing:border-box;
}ul,ol{
    list-style-type: none;
}h2::after {
    content: '';
    display: block;
    border-radius: 2px;
    height: 6px;
    width: 166px;
    margin: auto;
    margin-top: 14px;
}
/* End Default Tol */

/* Start Nav Bar */
.nav-top-bar .bg-light{
    background-color:#1273eb !important;
}.nav-top-bar .navbar-light .navbar-nav .nav-link{
    overflow: hidden;
}.nav-top-bar .nav-link {
    padding: 0;
    overflow: hidden;
}.nav-top-bar .navbar-light .navbar-nav .nav-link:hover{
    color:#333
}
/* End Nav Bar */

/* Start main-nav-bar */
.main-nav-bar .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand{
    text-transform: uppercase;
    color: rgb(58 58 58 / 78%);
    font-size: 18px;
    padding: 1.3em .5rem ;
}.main-nav-bar .navbar-light,
.navbar-light .navbar-brand{
    padding:0
}.dropdown-menu{
    top: 96%;
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
}.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
}
.main-nav-bar .navbar-light .navbar-nav .nav-link svg{
    position: relative;
    top: -5px;
    color: #908d8da1;
}.main-nav-bar .navbar-light .navbar-nav .nav-link::before,
.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::before{
    content: '';
    display: block;
    width: 0%;
    background-color: #fff;
    height: 5px;
    border-radius: 4px;
}.main-nav-bar .navbar-light .navbar-nav .nav-link::after,
.dropdown-toggle::after{
    content: '';
    float:right;
    position: relative;
    width: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left:0;
    display: block;
}.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::before,
.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::after{
    width: 70%;
}.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::before{
    width: 70%;
}.main-nav-bar .bg-light {
    background-color: #fff!important;
    border-bottom: 1px solid #7f96a19c;
}.navbar-light .navbar-toggler {
    margin: 14px 0;
}
@media(max-width: 984px){
    .main-nav-bar .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
        padding: 6px 0;
        margin-bottom: 10px;
    }
    .main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::after,
    .main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::before,
    .main-nav-bar .navbar-light .navbar-nav .nav-link:hover::before,
    .main-nav-bar .navbar-light .navbar-nav .nav-link:hover::after{
        height:0;
    }
}
/* End main-nav-bar */
/* Start main-Carousel */
.main-Carousel .carousel-item{
    height:800px;
}.main-Carousel .carousel-item{
    background-size: cover;
}.layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #1d212485;
}.carousel-control-next, .carousel-control-prev{
    z-index:11
}
.main-Carousel .first-img{
    background-image: url(../images/carousel1.jpg);
}.main-Carousel .second-img{
    background-image: url(../images/carousel2.jpg);
}.main-Carousel .thirty-img{
    background-image: url(../images/carousel3.jpg);
}.main-Carousel .carousel-caption{
    align-items: center;
    bottom: auto;
    top: 300px;
}.main-Carousel .carousel-caption h1{
    font-size: 72px;
}.main-Carousel .carousel-caption p{
    font-size: 30px;
    margin-top: 20px;
}.main-Carousel .carousel-indicators li{
    height: 9px;
}
/* End main-Carousel */
.section{
    padding:70px 0
}.section h2{
    margin-bottom:50px;
    font-weight:600;
    color: #323232;
    font-weight: bold;
}
/*  Start about-company  */
.about-company{
    margin-top:70px ;
    overflow: hidden;
}.about-company h2{
    margin-bottom: 17px;
}.about-company h2::after{
    content:'';height:0
}.about-company p{
    font-size: 16px;
    color: #7e7d7d;
}.about-company img{
    height: 406px;
    width: 101%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-company ul li{
    color: #b3b2b2;
    line-height: 28px;
    font-size: 18px;
}.about-company ul li svg{
    content: "\f0da";
    font-weight: 900;
    position: relative;
    top: -2px;
    color: #1273eb;
}.about-company .overflow-hidden{

}
/*  End about-company  */

/*  Start services-bar  */
.services-bar .card{
    margin-bottom:40px;
    box-shadow: 9px 9px 19px #e5e5e5;
    border: 1px solid rgb(235 235 235);
}.services-bar .card a{
    display: block;
    margin-bottom: 9px;
    font-size: 20px;
}.services-bar img{
    height:200px
}.services-bar .card p{
    font-size: 18px;
    line-height: 26px;
    color: #8c8a8a;
}
/*  End services-bar  */

/* our-portfolio */
.our-portfolio .shuffile_images img {
    width: 100%;
    max-height: 292px;
    cursor: pointer;
}.our-portfolio .shuffile_images img:hover {
    transform: rotate(10deg) scale(1.7,1.7);
}.our-portfolio .shuffile_images .box{
    width:100%;
    overflow:hidden;
}.our-portfolio .shuffile_images .col-md-3{
    padding: 8px;
}.our-portfolio ul li{
    text-align: center;
    padding: 12px;
    margin: 15px;
    cursor: pointer;
    border-radius: 2px;
}.our-portfolio ul li:hover{
    background-color: #0c5fc3;
}.our-portfolio ul li.active{
    background-color: #333;
}.our-portfolio .gallery-img{
    background-color:rgba(51, 51, 51, 0.9);
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 100010;
    top: 0;
    left: 0;
    bottom:0;
    display:none
}.gallery-img .icon{
    position: fixed;
    top: 20px;
    color: #6d182d;
    background-color: #3f85e3;
    font-size: 32px;
    text-align: center;
    height: 53px;
    width: 56px;
    cursor: pointer;
    border-radius: 5px;
}.gallery-img .exit {
    right: 20px;
}.gallery-img .arrows {
    right: 86px;
}.gallery-img .archive {
    right: 151px;
}.gallery-img .icon:hover{
    background-color: #0f74fb;
}.our-portfolio .gallery-img img {
    margin: 9% auto;
    width: 722px;
    max-height: 791px;
    align-items: center;
    display: block;
    z-index: 100011;
}.our-portfolio .gallery-img img.full-screen{
    margin: auto;
    width: 100%;
    max-height: 100%;
}/* our-portfolio */

/* Start Our-Blog */
.Our-Blog .box-post{
    flex: 0 0 33.333333%;
    max-width: 31.333333%;
    display: inline-block;
}@media (min-width: 576px){
.Our-Blog .d-md-block {
    display: inline-block!important;
}}
@media(max-width:930px){
    .Our-Blog .box-post{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .Our-Blog .d-md-block {
        display: inline-block !important;
    }
}
.Our-Blog .box-post:not(:last-child){
    margin-right: 6px;
}.Our-Blog .box-post::after{
    content: '';
    background-color:#4f9dff;
    width: 94%;
    margin: auto;
    height: 5px;
    display: block;
    margin-bottom:30px;
}.Our-Blog .box-post:hover::after{
    width: 94%;
}.Our-Blog .container{
    overflow:hidden
}.Our-Blog .card{
    overflow:hidden;
    width:100px
}.Our-Blog .card img{
    width:100px;
    height:100px
}.Our-Blog .box-post .box-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}.Our-Blog .box-post:hover .image-post img{
    transform: rotate(10deg) scale(1.5,1.5);
}.Our-Blog .box-post .box-header{
    display:inline-block;
    padding: 15px;
    width: 100%;
}.Our-Blog .box-post .data-user{
    display:inline-block;
    color:#8c8a8a
}.Our-Blog .box-post .box-date{
    float: right;
    line-height: 39px;
    color: #1273eb;
    font-weight: 600;
}.Our-Blog .box-post .box-title{
    font-size: 21px;
    font-weight: 600;
    padding: 0 10px;
}.Our-Blog .box-post .image-post{
    overflow:hidden;
}.Our-Blog .box-post .image-post img{
    width:100%;
    height: 199px;
    border-radius: 5px;
}.Our-Blog .box-post .content{
    padding: 10px 0;
    line-height: 25px;
    color: #8e8c8c;
}.Our-Blog .box-post .content p{
    font-size:17px
}
/* End Our-Blog */

/* Start touch-line */
.touch-line{
    margin-top: 102px;
    position: relative;
}.touch-line::before{
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: -46px;
    bottom: auto;
    right: auto;
    z-index: -1;
    width: 100%;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../images/bg-bdr2.png);
}.touch-line .btn{
    color:#1273eb;
    font-weight:bold;
    background-color: #fff;
    border:1px solid #1273eb;
    width:90%;
    padding: 10px;
    margin-top:15px;
    transition: all .4s ease-in-out
}.touch-line .btn:hover{
    color:#fff;
    background-color: #1273eb;
    border:1px solid white;
}/* End touch-line */

/* Start footer */
.footer{
    background-image: url(../images/footer.jpg);
    background-size: cover;
}.footer .box-About-Au p{
    line-height: 23px;
}.footer .box-About-Au ul li{
    display: inline-block;
    position: relative;
    margin-top: 22px;
    cursor: pointer;
    margin: 2px;
}.footer .box-About-Au ul li:hover,
.footer .box-About-Au ul li:hover span::after,
.footer .box-About-Au ul li:hover span::before,
.footer .box-About-Au ul li:hover span svg{
    transform: rotate(720deg);
    border-color:#21252900;
    background-color:#21252900;
}.footer .box-About-Au span svg{
    width: 38px;
    height: 19.735px;
    padding: 1px;
    color: #fff
}.footer .box-About-Au li span::before {
    content: "";
    position: absolute;
    top: -10.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 16.8675px solid red;
}.footer .box-About-Au span::after {
    content: "";
    position: absolute;
    bottom: -12.1325px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 16.8675px solid red;
}.footer .box-About-Au span.facebook::after{
    border-top: 16.8675px solid #3B5998;
}.footer .box-About-Au span.facebook::before{
    border-bottom: 16.8675px solid #3B5998;
}.footer .box-About-Au span.facebook svg{
    background: #3B5998;
}.footer .box-About-Au span.twitter::after{
    border-top: 16.8675px solid #55ACEE;
}.footer .box-About-Au span.twitter::before{
    border-bottom: 16.8675px solid #55ACEE;
}.footer .box-About-Au span.twitter svg{
    background: #55ACEE;
}.footer .box-About-Au span.instagram::after{
    border-top: 16.8675px solid #e1306c;
}.footer .box-About-Au span.instagram::before{
    border-bottom: 16.8675px solid #e1306c;
}.footer .box-About-Au span.instagram svg{
    background: #e1306c;
}.footer .box-About-Au span.google::after{
    border-top: 16.8675px solid #db514f;
}.footer .box-About-Au span.google::before{
    border-bottom: 16.8675px solid #db514f;
}.footer .box-About-Au span.google svg{
    background: #db514f;
}.footer .box-About-Au span.dribbble::after{
    border-top: 16.8675px solid #ea4c89;
}.footer .box-About-Au span.dribbble::before{
    border-bottom: 16.8675px solid #ea4c89;
}.footer .box-About-Au span.dribbble svg{
    background: #ea4c89;
}.footer .layout{
    position: relative;
    background-color: #2d3738e6;
    padding-top:100px ;
    color: #bbc3c4;
    padding-bottom: 15px;
}.footer h4{
    margin-bottom:20px;
    font-weight: normal;
    color:#e5e5e5;
}.footer .links ul li{
    line-height: 28px;
}.footer .box-Follow-us li{
    margin-bottom:13px;
    font-size: 16px;
}.footer .box-Newsletter button.input-group-text{
    border-color: #1273eb;
    border-radius: 0 5px 5px 0;
}.footer p{
    line-height: 31px;
    font-size: 17px;
}.footer .copyright{
    border-top: 1px solid #505f61;
    padding-top:30px;
    margin-top: 43px;
}.footer .copyright p{
    font-size:20px;
}.footer .box-Newsletter form{
    margin-top: 22px;
}.social-media-icons{
    margin-top:27px
}/* End footer */


.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::before,
.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::before,
.footer .box-Newsletter button.input-group-text,
.dropdown-item:focus, .dropdown-item:hover,
.main-Carousel .carousel-indicators li,
.our-portfolio ul li,
.Our-Blog .box-post:hover::after,
.touch-line,
h2::after{
    background-color: #1273eb;
}
/* Group */
.our-portfolio ul li,
.nav-top-bar .navbar-light .navbar-nav .nav-link,
.dropdown-item, .dropdown-item,
.main-nav-bar .navbar-light .navbar-nav .nav-link::before,
.main-nav-bar .navbar-light .navbar-nav .nav-link:hover::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::after,
.main-nav-bar .navbar-light ul.navbar-nav li.active a.nav-link::before,
.our-portfolio .shuffile_images img,
.our-portfolio ul li,
.gallery-img .icon,
.Our-Blog .box-post::after,
.Our-Blog .box-post .image-post img,
.footer .box-About-Au ul li
{
    transition: all .3s ease-in-out;
}::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb{
    background-color: #1273eb;
}
.nav-top-bar .navbar-light .navbar-nav .nav-link,
.our-portfolio ul li,
.touch-line,
.footer .box-Newsletter button.input-group-text,
.footer{
    color: #fff;
}